.auth-container {
  display: flex;
  height: 100vh;
  font-family: 'Inter', sans-serif;
}

/* LEFT: Sign Up */
.signup-panel {
  flex: 1;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-box{
  text-align: center;
}

.signup-card {
  width: 260px;
  height: 85%;
  background: #f9fafc;
  padding: 40px;
  border-radius: 18px;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.1);
}

.signup-card h2 {
  padding-left: 80px;
  margin-bottom: 20px;
  font-family: Inter;
font-weight: 600;
font-size: 24px;
line-height: 32px;
letter-spacing: 0%;

}

.signup-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.signup-card small {
  display: block;
  font-size: 11px;
  color: gray;
  margin-top: -10px;
  margin-bottom: 10px;
}

.terms {
  font-size: 12px;
  margin: 10px 0;
}

.signup-btn {
  width: 100%;
  padding: 12px;
  background-color: #3b82f6;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  margin-bottom: 14px;
  margin-top: 26px;
}

.or-signup {
  text-align: center;
  font-size: 13px;
  margin: 10px 0;
}

.social-icons img {
  width: 32px;
  margin: 0 8px;
  cursor: pointer;
  padding-left: 7px;
  margin-left: 27px;
}

.login-redirect {
  text-align: center;
  font-size: 13px;
}

/* RIGHT: Login */
.login-panel {
  flex: 1;
  background: linear-gradient(to bottom right, #0f172a, #1e293b);
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.floating-code {
  position: absolute;
  top: 250px;
  left: 270px;
  background: white;
  color: #0f172a;
  padding: 10px 16px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  font-size: 13px;
}

.login-card {
  background: white;
  color: #0f172a;
  padding: 28px;
  border-radius: 16px;
  width: 300px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.4);
}

.login-card input[type="email"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.otp-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.otp-box input {
  width: 100%;
  height: 48px;
  
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background: #3b82f6;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
}

/* Floating profile */
.profile-card {
  position: absolute;
  top: 250px;
  right: 80px;
  background: white;
  color: #0f172a;
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 12px 16px;
  border-radius: 12px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.3);
}

.profile-card img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
